<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<script src="{% static 'js/main.js' %}" defer></script>
<h1>Bus Tracking System</h1>
  <div class="imgcontainer">
      {% load static %}
      <img src="{% static 'greenbus.png' %}" alt="Bus Logo" class="bus_logo">
  </div>
  <a href="{% url 'login' %}"><button type="submit">Login</button></a>
  <div class="signup">
    <a href="{% url 'signup' %}"><button type="button">Create an account</button></a>
  </div>

</body>
</html>

