<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <style>
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      top: 40px;
      right: 0;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content button {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      width: 100%;
      background: none;
      border: none;
      text-align: left;
    }

    .dropdown-content button:hover {
      background-color: #f1f1f1;
    }

    .barcode-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }

    .barcode {
      margin-bottom: 5px;
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var dropdown = document.querySelector('.dropdown');
      var dropdownContent = document.querySelector('.dropdown-content');

      dropdown.addEventListener('click', function(event) {
        dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
        event.stopPropagation();
      });

      document.addEventListener('click', function() {
        dropdownContent.style.display = 'none';
      });

      dropdownContent.addEventListener('click', function(event) {
        event.stopPropagation();
      });
    });
  </script>
</head>
<body>
  <nav>
    <div class="navcontainer">
      <a href="/main/">🚌</a> | 
      <div class="dropdown" style="float:right;">
        <button>Menu ▼</button>
        <div class="dropdown-content">
          <div class="barcode-container">
            <img src="{% static 'barcode_11111111.png' %}" alt="Barcode" class="barcode">
            <div>ID: 11111111</div>
          </div>
          <button onclick="location.href='/account'">Account</button>
          <button onclick="location.href='/settings'">Settings</button>
          <button onclick="location.href='/support'">Support</button>
          <button onclick="location.href='/'">Logout</button>
        </div>
      </div>
    </div> 
  </nav>
  <h1>Bus Tracking System</h1>
  <div class="imgcontainer">
    <img src="{% static 'greenbus.png' %}" alt="Bus Logo" class="bus_logo">
  </div>
  <div class="maparea">
    <div class="map-title">Map!</div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106787.34678380332!2d-97.22755103145398!3d33.23756333661346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c4ca0c088b1d1%3A0x724474cb4814fb1b!2sDenton%2C%20TX!5e0!3m2!1sen!2sus!4v1719203482237!5m2!1sen!2sus" width="100%" height="700px" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="routeschedule">
    <div class="schedule-title">Schedule!</div>
    <style type="text/css">
      .tg  {border-collapse:collapse;border-color:#bbb;border-spacing:0;}
      .tg td{background-color:#E0FFEB;border-color:#bbb;border-style:solid;border-width:1px;color:#594F4F;
        font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:8px 20px;word-break:normal;}
      .tg th{background-color:#9DE0AD;border-color:#bbb;border-style:solid;border-width:1px;color:#493F3F;
        font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:8px 20px;word-break:normal;}
      .tg .tg-mtdx{background-color:#9de0ad;border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
      .tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
      .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
    </style>
    <table class="tg"><thead>
      <tr>
        <th class="tg-mtdx">Route<br></th>
        <th class="tg-fymr">Start Time</th>
        <th class="tg-fymr">End Time</th>
        <th class="tg-fymr">Run Time</th>
        <th class="tg-fymr">In/Outbound</th>
        <th class="tg-fymr">Timepoint 1</th>
        <th class="tg-fymr">Timepoint 2</th>
        <th class="tg-fymr">Timepoint 3</th>
        <th class="tg-fymr">Timepoint 4</th>
        <th class="tg-fymr">Timepoint 5</th>
        <th class="tg-fymr">Timepoint 6</th>
        <th class="tg-fymr">Timepoint 7</th>
        <th class="tg-fymr">Timepoint 8</th> 
      </tr></thead>
      <tbody>
        <tr>
          <td class="tg-fymr" rowspan="34">Colorado Express   </td>
          <td class="tg-fymr">7:13</td>
          <td class="tg-0pky">7:40</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">In</td>
          <td class="tg-0pky">7:24</td>
          <td class="tg-0pky">7:28</td>
          <td class="tg-0pky">7:38</td>
          <td class="tg-0pky">7:39</td>
          <td class="tg-0pky">7:40</td>
        </tr>
        <tr>
          <td class="tg-fymr">7:13</td>
          <td class="tg-0pky">7:40</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">Out</td>
          <td class="tg-0pky">7:13</td>
          <td class="tg-0pky">7:15</td>
        </tr>
        <tr>
          <td class="tg-fymr">7:53</td>
          <td class="tg-0pky">8:20</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">In</td>
          <td class="tg-0pky">8:04</td>
          <td class="tg-0pky">8:08</td>
          <td class="tg-0pky">8:18</td>
          <td class="tg-0pky">8:19</td>
          <td class="tg-0pky">8:20</td>
        </tr>
        <tr>
          <td class="tg-fymr">7:53</td>
          <td class="tg-0pky">8:20</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">Out</td>
          <td class="tg-0pky">7:53</td>
          <td class="tg-0pky">7:55</td>
        </tr>
        <tr>
          <td class="tg-fymr">8:33</td>
          <td class="tg-0pky">9:00</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">In</td>
          <td class="tg-0pky">8:44</td>
          <td class="tg-0pky">8:48</td>
          <td class="tg-0pky">8:58</td>
          <td class="tg-0pky">8:59</td>
          <td class="tg-0pky">9:00</td>
        </tr>
        <tr>
          <td class="tg-fymr">8:33</td>
          <td class="tg-0pky">9:00</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">Out</td>
          <td class="tg-0pky">8:33</td>
          <td class="tg-0pky">8:35</td>
        </tr>
        <tr>
          <td class="tg-0pky">9:13</td>
          <td class="tg-0pky">9:40</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">In</td>
          <td class="tg-0pky">9:24</td>
          <td class="tg-0pky">9:28</td>
          <td class="tg-0pky">9:38</td>
          <td class="tg-0pky">9:39</td>
          <td class="tg-0pky">9:40</td>
        </tr>
        <tr>
          <td class="tg-0pky">9:13</td>
          <td class="tg-0pky">9:40</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">Out</td>
          <td class="tg-0pky">9:13</td>
          <td class="tg-0pky">9:15</td>
        </tr>
        <tr>
          <td class="tg-0pky">9:53</td>
          <td class="tg-0pky">10:20</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">In</td>
          <td class="tg-0pky">10:04</td>
          <td class="tg-0pky">10:08</td>
          <td class="tg-0pky">10:18</td>
          <td class="tg-0pky">10:19</td>
          <td class="tg-0pky">10:20</td>
        </tr>
        <tr>
          <td class="tg-0pky">9:53</td>
          <td class="tg-0pky">10:20</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">Out</td>
          <td class="tg-0pky">9:53</td>
          <td class="tg-0pky">9:55</td>
        </tr>
        <tr>
          <td class="tg-0pky">10:33</td>
          <td class="tg-0pky">11:00</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">In</td>
          <td class="tg-0pky">10:44</td>
          <td class="tg-0pky">10:48</td>
          <td class="tg-0pky">10:58</td>
          <td class="tg-0pky">10:59</td>
          <td class="tg-0pky">11:00</td>
        </tr>
        <tr>
          <td class="tg-0pky">10:33</td>
          <td class="tg-0pky">11:00</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">Out</td>
          <td class="tg-0pky">10:33</td>
          <td class="tg-0pky">10:35</td>
        </tr>
        <tr>
          <td class="tg-0pky">11:13</td>
          <td class="tg-0pky">11:40</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">In</td>
          <td class="tg-0pky">11:24</td>
          <td class="tg-0pky">11:28</td>
          <td class="tg-0pky">11:38</td>
          <td class="tg-0pky">11:39</td>
          <td class="tg-0pky">11:40</td>
        </tr>
        <tr>
          <td class="tg-0pky">11:13</td>
          <td class="tg-0pky">11:40</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">Out</td>
          <td class="tg-0pky">11:13</td>
          <td class="tg-0pky">11:15</td>
        </tr>
        <tr>
          <td class="tg-0pky">11:53</td>
          <td class="tg-0pky">12:20</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">In</td>
          <td class="tg-0pky">12:04</td>
          <td class="tg-0pky">12:08</td>
          <td class="tg-0pky">12:18</td>
          <td class="tg-0pky">12:19</td>
          <td class="tg-0pky">12:20</td>
        </tr>
        <tr>
          <td class="tg-0pky">11:53</td>
          <td class="tg-0pky">12:20</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">Out</td>
          <td class="tg-0pky">11:53</td>
          <td class="tg-0pky">11:55</td>
        </tr>
        <tr>
          <td class="tg-0pky">12:33</td>
          <td class="tg-0pky">1:00</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">In</td>
          <td class="tg-0pky">12:44</td>
          <td class="tg-0pky">12:48</td>
          <td class="tg-0pky">12:58</td>
          <td class="tg-0pky">12:59</td>
          <td class="tg-0pky">1:00</td>
        </tr>
        <tr>
          <td class="tg-0pky">12:33</td>
          <td class="tg-0pky">1:00</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">Out</td>
          <td class="tg-0pky">12:33</td>
          <td class="tg-0pky">12:35</td>
        </tr>
        <tr>
          <td class="tg-0pky">1:13</td>
          <td class="tg-0pky">1:40</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">In</td>
          <td class="tg-0pky">1:24</td>
          <td class="tg-0pky">1:28</td>
          <td class="tg-0pky">1:38</td>
          <td class="tg-0pky">1:39</td>
          <td class="tg-0pky">1:40</td>
        </tr>
        <tr>
          <td class="tg-0pky">1:13</td>
          <td class="tg-0pky">1:40</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">Out</td>
          <td class="tg-0pky">1:13</td>
          <td class="tg-0pky">1:15</td>
        </tr>
        <tr>
          <td class="tg-0pky">1:53</td>
          <td class="tg-0pky">2:20</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">In</td>
          <td class="tg-0pky">2:04</td>
          <td class="tg-0pky">2:08</td>
          <td class="tg-0pky">2:18</td>
          <td class="tg-0pky">2:19</td>
          <td class="tg-0pky">2:20</td>
        </tr>
        <tr>
          <td class="tg-0pky">1:53</td>
          <td class="tg-0pky">2:20</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">Out</td>
          <td class="tg-0pky">1:53</td>
          <td class="tg-0pky">1:55</td>
        </tr>
        <tr>
          <td class="tg-0pky">2:33</td>
          <td class="tg-0pky">3:00</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">In</td>
          <td class="tg-0pky">2:44</td>
          <td class="tg-0pky">2:48</td>
          <td class="tg-0pky">2:58</td>
          <td class="tg-0pky">2:59</td>
          <td class="tg-0pky">3:00</td>
        </tr>
        <tr>
          <td class="tg-0pky">2:33</td>
          <td class="tg-0pky">3:00</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">Out</td>
          <td class="tg-0pky">2:33</td>
          <td class="tg-0pky">2:35</td>
        </tr>
        <tr>
          <td class="tg-0pky">3:13</td>
          <td class="tg-0pky">3:40</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">In</td>
          <td class="tg-0pky">3:24</td>
          <td class="tg-0pky">3:28</td>
          <td class="tg-0pky">3:38</td>
          <td class="tg-0pky">3:39</td>
          <td class="tg-0pky">3:40</td>
        </tr>
        <tr>
          <td class="tg-0pky">3:13</td>
          <td class="tg-0pky">3:40</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">Out</td>
          <td class="tg-0pky">3:13</td>
          <td class="tg-0pky">3:15</td>
        </tr>
        <tr>
          <td class="tg-0pky">3:53</td>
          <td class="tg-0pky">4:20</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">In</td>
          <td class="tg-0pky">4:04</td>
          <td class="tg-0pky">4:08</td>
          <td class="tg-0pky">4:18</td>
          <td class="tg-0pky">4:19</td>
          <td class="tg-0pky">4:20</td>
        </tr>
        <tr>
          <td class="tg-0pky">3:53</td>
          <td class="tg-0pky">4:20</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">Out</td>
          <td class="tg-0pky">3:53</td>
          <td class="tg-0pky">3:55</td>
        </tr>
        <tr>
          <td class="tg-0pky">4:33</td>
          <td class="tg-0pky">5:00</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">In</td>
          <td class="tg-0pky">4:44</td>
          <td class="tg-0pky">4:48</td>
          <td class="tg-0pky">4:58</td>
          <td class="tg-0pky">4:59</td>
          <td class="tg-0pky">5:00</td>
        </tr>
        <tr>
          <td class="tg-0pky">4:33</td>
          <td class="tg-0pky">5:00</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">Out</td>
          <td class="tg-0pky">4:33</td>
          <td class="tg-0pky">4:35</td>
        </tr>
        <tr>
          <td class="tg-0pky">5:13</td>
          <td class="tg-0pky">5:40</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">In</td>
          <td class="tg-0pky">5:24</td>
          <td class="tg-0pky">5:28</td>
          <td class="tg-0pky">5:38</td>
          <td class="tg-0pky">5:39</td>
          <td class="tg-0pky">5:40</td>
        </tr>
        <tr>
          <td class="tg-0pky">5:13</td>
          <td class="tg-0pky">5:40</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">Out</td>
          <td class="tg-0pky">5:13</td>
          <td class="tg-0pky">5:15</td>
        </tr>
        <tr>
          <td class="tg-0pky">5:53</td>
          <td class="tg-0pky">6:20</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">In</td>
          <td class="tg-0pky">6:04</td>
          <td class="tg-0pky">6:08</td>
          <td class="tg-0pky">6:18</td>
          <td class="tg-0pky">6:19</td>
          <td class="tg-0pky">6:20</td>
        </tr>
        <tr>
          <td class="tg-0pky">5:53</td>
          <td class="tg-0pky">6:20</td>
          <td class="tg-0pky">0:27</td>
          <td class="tg-0pky">Out</td>
          <td class="tg-0pky">5:53</td>
          <td class="tg-0pky">5:55</td>
        </tr>
      </tbody></table>
  </div>
</body>
</html>
