<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
  <div class="navcontainer">
    <a href="/">🏠</a> | 
    <a href="/about">😀</a>
  </div> 
  <h1>Welcome Back!</h1>
  <!--<form method="post">-->
    <div class="imgcontainer">
      {% load static %}
      <img src="{% static 'greenbus.png' %}" alt="Bus Logo" class="bus_logo">
    </div>

    <div class="container" id="userdetails">
      <p><label id="label" for="uname"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="user_email" required></p>

      <p><label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="user_psw" required></p>
          
  
    </div>
    <a href="{% url 'main' %}"><button type="button">Login</button></a>
    
    <label>
      <input type="checkbox" name="remember"> Remember me
    </label>

    <div class="container" style="background-color:#f1f1f1">
      <a href="{% url 'home' %}"><button type="button" class="cancelbtn">Cancel</button></a>
      <span class="psw">Forgot <a href="#">password?</a></span><!--CHANGE THIS-->
    </div>
  <!--</form>-->

</body>
</html>
