<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
  <nav>
    <div class="navcontainer">
        <a href="/">🏠</a> | 
        <a href="/about">😀</a>
    </div> 
  </nav>
  <h1>Bus Tracking System</h1>
  <!--<form method="post">-->
    <div class="imgcontainer">
      {% load static %}
      <img src="{% static 'greenbus.png' %}" alt="Bus Logo" class="bus_logo">
    </div>

    <div class="maparea">
        <div class="map-title">Map!</div>
        <!--<iframe src="file:///C:/Users/lopez/Documents/CSCE%203615/Bus%20Tracking%20System/temp_test.html" width="100%" height="700px" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106787.34678380332!2d-97.22755103145398!3d33.23756333661346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c4ca0c088b1d1%3A0x724474cb4814fb1b!2sDenton%2C%20TX!5e0!3m2!1sen!2sus!4v1719203482237!5m2!1sen!2sus" width="100%" height="700px" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      <!-- For example, embed a Google Maps iframe or use a mapping library --> 
    </div>

    <div class="routeschedule">
        <div class="schedule-title">Schedule!</div>
        <!-- For example, embed a Google Maps iframe or use a mapping library --> 
    </div>
  <!--</form>-->

</body>
</html>
